<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Primer Template</h1>

    <p> No entiendo {{my_name}}</p>

    <ul>
        {% for nota in notas %}
            {% if nota >= 6 %}
                <li style="color: green;">
                    {{nota}} - aprobado
                </li>
            {% else %}
                <li style="color: red;">
                    {{nota}} - desaprobado
                </li>
            {% endif %} 
        
        {% endfor %}
    </ul>
</body>
</html>